@font-face {
    font-family: "Hack";
    src: url("/font/Hack-Regular.ttf");
}

@font-face {
    font-family: "Hack Bold";
    src: url("/font/Hack-Bold.ttf");
}

.calculator-button, #ModeButton {
    -fx-font: 16pt "Hack";
    -fx-font-weight: bold;
}

#ResultBox {
    -fx-font: 11pt "Hack";
}

#EntryField {
    -fx-font: 24pt "Hack";
    -fx-font-weight: Bold;
}

#EntryField .menu-item {
    -fx-font-size: 11pt;
    -fx-font-weight: normal;
}